body{
    background-size:cover;
    }


.bound{
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 20px;
    border-radius: 20px;
}

.tbox{
    padding: 10px;
    width: 375px ;
    border: None;
    border-radius: 5px;
}

#fname{
    padding: 10px;
border: None;
border-radius: 5px;
}

#lname{
    margin-left: 7px;
    padding: 10px;
border: None;
border-radius: 5px;
}

input#submit{
    width: 400px;
    padding: 10px;
cursor: pointer;
}
